#dropdown-basic-button{
  display : block;
  width : 100%;
  background-color:#85e0f0;
  color: rgb(42, 111, 238);
}

.drop-item {
  color :rgb(42, 111, 238);
}

/* A react bootstrap class to wrap the text  */

.text-wrap {
  max-width: 100%;
  
}

h1{
  padding-top: 25px;
  padding-bottom: 25px;
  color:rgb(42, 111, 238);
}